absl-py==0.11.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.2.0"
altair==4.1.0; python_version >= "3.6"
appdirs==1.4.4; python_version >= "3.6" and python_full_version >= "3.6.1"
appnope==0.1.0; platform_system == "Darwin" and python_version >= "3.7" and sys_platform == "darwin"
argon2-cffi==20.1.0; python_version >= "3.6"
astor==0.8.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
async-generator==1.10; python_version >= "3.6"
attrs==20.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
backcall==0.2.0; python_version >= "3.7"
base58==2.0.1; python_version >= "3.6"
black==20.8b1; python_version >= "3.6"
bleach==3.2.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
blinker==1.4; python_version >= "3.6"
boto3==1.16.21; python_version >= "3.6"
botocore==1.19.21; python_version >= "3.6"
cachetools==4.1.1; python_version >= "3.6" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0")
certifi==2020.11.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
cffi==1.14.3; implementation_name === "pypy" and python_version >= "3.6"
cfgv==3.2.0; python_full_version >= "3.6.1"
chardet==3.0.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
click==7.1.2; python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4.0"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0"
decorator==4.4.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.7"
defusedxml==0.6.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
distlib==0.3.1; python_full_version >= "3.6.1"
docopt==0.6.2; python_version >= "3.7" and python_version < "4.0"
entrypoints==0.3; python_version >= "3.6"
enum-compat==0.0.3; python_version >= "3.6"
filelock==3.0.12; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
future==0.18.2; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
gitdb==4.0.5; python_version >= "3.6"
gitpython==3.1.11; python_version >= "3.6"
google-auth-oauthlib==0.4.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.2.0"
google-auth==1.23.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0"
grpcio==1.33.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.2.0"
htbuilder==0.3.0; python_version >= "3.5"
hydra-core==0.11.3; python_version >= "3.7" and python_version < "4.0"
identify==1.5.9; python_full_version >= "3.6.1"
idna==2.10; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
importlib-metadata==2.0.0; python_version < "3.8" and python_full_version >= "3.6.1" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.8" or python_version < "3.8" and python_version >= "3.6" and python_full_version >= "3.5.0") and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.8" or python_version >= "3.7" and python_version < "3.8" and python_full_version >= "3.5.0")
ipykernel==5.3.4; python_version >= "3.6"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==7.19.0; python_version >= "3.7"
ipywidgets==7.5.1; python_version >= "3.6"
isort==5.6.4; python_version >= "3.6" and python_version < "4.0"
iteration-utilities==0.10.1; python_version >= "3.5"
jedi==0.17.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
jinja2==2.11.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
jmespath==0.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
joblib==0.17.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
jsonschema==3.2.0; python_version >= "3.6"
jupyter-client==6.1.7; python_version >= "3.6"
jupyter-core==4.7.0; python_version >= "3.6"
jupyterlab-pygments==0.1.2; python_version >= "3.6"
markdown==3.3.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.2.0"
markupsafe==1.1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
mistune==0.8.4; python_version >= "3.6"
more-itertools==8.6.0; python_version >= "3.7" and python_version < "4.0"
mypy-extensions==0.4.3; python_version >= "3.6"
nbclient==0.5.1; python_version >= "3.6"
nbconvert==6.0.7; python_version >= "3.6"
nbformat==5.0.8; python_version >= "3.6"
nest-asyncio==1.4.3; python_version >= "3.6"
nodeenv==1.5.0; python_full_version >= "3.6.1"
notebook==6.1.5; python_version >= "3.6"
numpy==1.19.4; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.2.0")
oauthlib==3.1.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0"
omegaconf==1.4.1
openkiwi==2.1.0; python_version >= "3.7" and python_version < "4.0"
packaging==20.4; python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
pandas==1.1.4; python_full_version >= "3.6.1" and python_version >= "3.6"
pandocfilters==1.4.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
parso==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pathspec==0.8.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pathtools==0.1.2; python_version >= "3.6"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
pillow==8.0.1; python_version >= "3.6"
pre-commit==2.8.2; python_full_version >= "3.6.1"
prometheus-client==0.9.0; python_version >= "3.6"
prompt-toolkit==3.0.8; python_full_version >= "3.6.1" and python_version >= "3.7"
protobuf==3.14.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.2.0")
ptyprocess==0.6.0; sys_platform != "win32" and python_version >= "3.7" and os_name != "nt"
py==1.9.0; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name === "pypy" or implementation_name === "pypy" and python_version >= "3.6" and python_full_version >= "3.4.0"
pyarrow==2.0.0; python_version >= "3.6"
pyasn1-modules==0.2.8; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0"
pyasn1==0.4.8; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0") or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0")
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name === "pypy" or implementation_name === "pypy" and python_version >= "3.6" and python_full_version >= "3.4.0"
pydantic==1.7.2; python_version >= "3.6"
pydeck==0.5.0; python_version >= "3.6"
pygments==2.7.2; python_version >= "3.7"
pyparsing==2.4.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyrsistent==0.17.3; python_version >= "3.6"
python-dateutil==2.8.1; python_full_version >= "3.6.1" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6")
pytorch-lightning==0.8.5; python_version >= "3.7" and python_version < "4.0"
pytorch-nlp==0.5.0; python_version >= "3.7" and python_version < "4.0"
pytz==2020.4; python_full_version >= "3.6.1" and python_version >= "3.6"
pywin32==300; sys_platform == "win32" and python_version >= "3.6"
pywinpty==0.5.7; os_name == "nt" and python_version >= "3.6"
pyyaml==5.3.1; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0")
pyzmq==20.0.0; python_version >= "3.6"
regex==2020.11.13; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
requests-oauthlib==1.3.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0"
requests==2.25.0; python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0")
rsa==4.6; python_version >= "3.5" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0")
s3transfer==0.3.3; python_version >= "3.6"
sacremoses==0.0.43; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
scipy==1.5.4; python_version >= "3.7" and python_version < "4.0"
send2trash==1.5.0; python_version >= "3.6"
sentencepiece==0.1.91; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
six==1.15.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6") and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0") and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
smmap==3.0.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
st-annotated-text==1.0.1; python_version >= "3.5"
streamlit==0.69.2; python_version >= "3.6"
tensorboard-plugin-wit==1.7.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.2.0"
tensorboard==2.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.2.0"
terminado==0.9.1; python_version >= "3.6"
testpath==0.4.4; python_version >= "3.6"
tokenizers==0.9.3; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
toml==0.10.2; python_full_version >= "3.6.1" and python_version >= "3.6"
toolz==0.11.1; python_version >= "3.6"
torch==1.6.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
tornado==6.1; python_version >= "3.6"
tqdm==4.52.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.2.0")
traitlets==5.0.5; python_version >= "3.7"
transformers==3.5.1; python_full_version >= "3.6.0"
typed-ast==1.4.1; python_version >= "3.6"
typing-extensions==3.7.4.3; python_version >= "3.7" and python_version < "4.0"
tzlocal==2.1; python_version >= "3.6"
urllib3==1.26.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6"
validators==0.18.1; python_version >= "3.6"
virtualenv==20.1.0; python_full_version >= "3.6.1"
watchdog==0.10.3; python_version >= "3.6"
wcwidth==0.2.5; python_full_version >= "3.6.1" and python_version >= "3.7"
webencodings==0.5.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
werkzeug==1.0.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
widgetsnbextension==3.5.1; python_version >= "3.6"
zipp==3.4.0; python_version < "3.8" and python_full_version >= "3.6.1" and python_version >= "3.6"
